.footer_container {
    padding-inline: 200px;
}

.footer_form {
    display: flex;

}

.footer_form_input {
    background-color: transparent;
}

.footer_form_underscore {
    background-color: aliceblue;
    height: 1px;
}

.footer_form_button {
    color: var(--main-color);
}

.footer_form_button:hover {
    color: var(--second-color);
}


@media (max-width:1000px) {
    .footer_container {
        padding-inline: 100px;
        
    }

    .footer_right div {
        padding-top: 10px;
        width: 100%;
    }

    .footer_left_section {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .footer_container {
        padding-inline: 1rem;
    }
    .footer_right {
        flex-direction: column;
        width: 100%;
    }

    .footer_right div {
        padding-top: 10px;
        width: 100%;
    }

    .footer_left_section {

        width: 100%;
    }
}