.about_container {
    padding-inline: 200px;
    background-color: var(--secondary-background);
    overflow: hidden;
}

@media (max-width: 1000px) {
    .about_container {
        padding-inline: 100px;
    }
}

@media (max-width: 768px) {
    .about_container {
        padding-inline: 1rem;
    }

    .person_container div {
        height: 18rem;
        width: 18rem;
    }

    .person_border {
        transform: translate(1rem, 1rem);
    }

}

@media (max-width: 618px) {
    .about_section {
        flex-direction: column;

    }

    .person_container div {
        padding-top: 10px;
    }

    .person_container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}