.project_container {
    padding-inline: 200px;
    background-color: var(--main-backgroud);
}

.project_card {
    background-color: var(--secondary-background);
    transition: all 0.5s ease-in-out;

}

/* .swiper_controller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
} */

.swiper_next {
    background-color: var(--main-color);
    border-radius: 25% 75% 75% 25% / 50% 50% 50% 50%;
}

.swiper_previous {
    background-color: var(--main-color);
    border-radius: 75% 25% 25% 75% / 50% 50% 50% 50%;
}

@media (max-width: 1000px) {
    .project_container {
        padding-inline: 100px;
    }
}

@media (max-width: 768px) {
    .project_container {
        padding-inline: 1rem;
    }
}
/* 
@media (max-width:600px) {
    .project_container {
        padding-inline: ;
    }
} */