.project_container {
    padding-inline: 200px;
    background-color: var(--main-backgroud);
}

.project_card{
    background-color: var(--secondary-background);
    transition: all 0.5s ease-in-out;

}

/* .swiper_controller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
} */