.navbar_section {
    padding-inline: 200px;
    transition: .5s ease-in-out;
}

.sidebar{
    backdrop-filter: blur(3px);
    background-color: rgba(128, 128, 128, 0.552);
}

.active {
    color: var(--main-color);
}
.nonactive {
    color: whitesmoke;
}

@media (max-width: 1000px) {
    .navbar_section {
        padding-inline: 100px;
    }
}

@media (max-width: 768px) {
    .navbar_section {
        padding-inline: 1rem;
    }

    .show {
        max-height: 200px;
        transition: max-height 0.5s ease-in-out;

    }

    .hide {
        max-height: 0px;
        transition: max-height 0.5s ease-in-out;

    }
}