@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #20272F;
  --secondary-background: #171C22;
  --main-color: #03BD94;
  --second-color: #00BD95;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::selection {
  background-color: var(--main-color);
  color: var(--main-backgroud);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--main-background);
  color: aliceblue;
}

body::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);

}